[data-aos][data-aos][data-aos-delay="4000"].aos-animate,
body[data-aos-delay="4000"] [data-aos].aos-animate {
  transition-delay: 4s;
}
[data-aos][data-aos][data-aos-delay="5000"].aos-animate,
body[data-aos-delay="5000"] [data-aos].aos-animate {
  transition-delay: 5s;
}
[data-aos][data-aos][data-aos-delay="6000"].aos-animate,
body[data-aos-delay="6000"] [data-aos].aos-animate {
  transition-delay: 6s;
}