body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.55;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
  color: currentColor;

  a {
    color: currentColor;
    text-decoration: none;
  }

  + p {
    margin-top: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
/*
h1, .h1 {
  font-size: 2.1875rem;
  line-height: 3.875rem;
  @include breakpoint($tablet) {
    font-size: 3.4375rem;
  }
  @include breakpoint( $desktop ) {
    font-size: 3.75rem;
  }
}
*/
h1, .h1 {
  font-size: 1.875rem;
  line-height: 2.4375rem;
  font-weight: 500;
  margin-bottom: 10px;
  @include breakpoint($tablet) {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 32px;
  }
  @include breakpoint( $laptop ) {
    font-size: 3.75rem;
    line-height: 3.875rem;
  }
}

h2, .h2 {
  font-size: 1.5625rem;
  line-height: 2.3125rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 22px;
  @include breakpoint($tablet) {
    font-size: 1.8125rem;
    line-height: 2.75rem;
    margin-bottom: 30px;
  }
  @include breakpoint( $laptop ) {
    font-size: 2.25rem;
    line-height: 3.125rem;
    margin-bottom: 36px;
  }
}

h3, .h3 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 600;
  margin-bottom: 21px;
  @include breakpoint($tablet) {
    font-size: 1.75rem;
    line-height: 2.1875rem;
    margin-bottom: 29px;
  }
  @include breakpoint( $laptop ) {
    font-size: 1.875rem;
    line-height: 2.625rem;
    margin-bottom: 38px;
  }
}

h4, .h4 {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 600;
  margin-bottom: 24px;
  @include breakpoint($tablet) {
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-bottom: 30px;
  }
  @include breakpoint( $laptop ) {
    font-size: 1.875rem;
    line-height: 2.4375rem;
    margin-bottom: 36px;
  }
}

h5, .h5 {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 20px;
  @include breakpoint($tablet) {
    margin-bottom: 24px;
  }
  @include breakpoint( $laptop ) {
    font-size: 1.5625rem;
    margin-bottom: 36px;
  }
}

a {
  text-decoration: none;

  &:hover {
    @media (hover: hover) {
      text-decoration: underline;
    }
  }
}

p {

  &:has(.button, .secondaryButton) {
    //display: flex;
    //flex-wrap: wrap;
    //gap: 18px 26px;
    @include breakpoint($laptop) {
      margin: 36px 0;
    }
  }

  &:has(.button:nth-child(2)) {
    display: flex;
    flex-wrap: wrap;
    gap: 18px 26px;
  }

  &:has(.text-md) {
    margin-bottom: 24px;
  }

  a {
    color: var(--color-primary);
  }
}

ul,
ol {

  a {
    color: var(--color-primary);
  }
}

hr {
  background: var(--text-color);
  height: 1px;
  border: none;
}

b, strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

blockquote {

}

address {
  font-style: normal;
}

caption {

}

del {

}

p, ul, ol, blockquote, hr {
  margin: 0 0 28px;
  @include breakpoint($tablet) {
    margin-bottom: 32px;
  }
  @include breakpoint($laptop) {
    margin-bottom: 36px;
  }

  + {

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 3rem;
    }
  }

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}

.text-lg {
  font-size: 22px;
  line-height: 32px;
  @include breakpoint($tablet) {
    font-size: 25px;
    line-height: 36px;
  }
  @include breakpoint( $desktop ) {
    font-size: 30px;
    line-height: 45px;
  }
}

.text-md {
  //font-size: 18px;
  //line-height: 25px;
  font-weight: 600;
  @include breakpoint( $desktop ) {
    //font-size: 20px;
    //line-height: 20px;
  }
}

.text-sm {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 3.2px;
  font-weight: 500;
  @include breakpoint( $desktop ) {
    line-height: 16px;
  }
}

.text-blue {
  color: var(--color-primary);
}

ul, ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;

  li {
    position: relative;
  }
}

ul {

  li {
    padding-left: 18px;
    @include breakpoint( $tablet ) {
      padding-left: 35px;
    }
    @include breakpoint( $laptop ) {
      padding-left: 45px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 9px;
      background: var(--color-primary);
      width: 9px;
      height: 9px;
      border-radius: 100%;
    }
  }
}