.wpcf7 form {

  .wpcf7-form-control-wrap {
    display: block;
  }

  span.wpcf7-not-valid-tip {
    text-align: right;
    font-size: 12px;
    color: red;
    position: absolute;
    top: 100%;
    right: 0;
    @include breakpoint($tablet) {
      font-size: 14px;
    }
    @include breakpoint($laptop) {
      font-size: 16px;
    }
  }

  .wpcf7-response-output {
    text-align: center;
    margin: 30px 0 0;
    padding: 10px 20px;
  }

  div.wpcf7-validation-errors,
  div.wpcf7-mail-sent-ok {
    border: none;
  }

  div.wpcf7-validation-errors {
    color: red;
  }

  div.wpcf7-mail-sent-ok {

  }

  .btnWrap {
    position: relative;

    .ajax-loader {
      position: absolute;
      top: 50%;
      right: -50px;
      transform: translateY(-50%);
      margin: 0;
    }
  }
}


.wpcf7-radio {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include breakpoint($tablet) {
    gap: 12px;
  }
}


.wpcf7-list-item {
  position: relative;
  margin: 0;
  padding-left: 37px;
  cursor: pointer;

  label {
    cursor: pointer;
  }

  input {
    position: absolute;
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    opacity: 0;

    &:checked + .wpcf7-list-item-label:before {
      background: var(--color-primary);
    }
  }

  .wpcf7-list-item-label:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border: 7px solid #ffffff;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: 2px;
    border-radius: 100%;
  }


}


.wpcf7-checkbox {
  display: block;

  .wpcf7-list-item {
    display: flex;
    margin: 0;

    label {
      display: block;
    }
  }
}