.page-template-affinity-programs {

  .siteContent {
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      display: none;
      width: 350px;
      height: 350px;
      border-radius: 100%;
      position: absolute;
      top: 780px;
      right: 0;
      translate: 60% 0;
      background: var(--color-green);
      @include breakpoint( $laptop ) {
        display: block;
      }
      @include breakpoint( $desktop ) {
        width: 522px;
        height: 522px;
        translate: 50% 0;
      }
    }

    &:after {
      content: '';
      display: none;
      width: 422px;
      height: 422px;
      border-radius: 100%;
      position: absolute;
      top: 2000px;
      left: 0;
      translate: -60% 0;
      background: url("../images/circles.svg") no-repeat center;
      background-size: contain;
      @include breakpoint( $laptop ) {
        display: block;
      }
      @include breakpoint( $desktop ) {
        width: 614px;
        height: 614px;
        translate: -50% 0;
      }
    }
  }
}


.programs {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 0;
  margin-top: 50px;
  @include breakpoint( $tablet ) {
    margin-top: 76px;
    gap: 106px 0;
  }

  &__item {

    &Logos {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 40px 60px;
      margin: 30px 0;
      @include breakpoint( $tablet ) {
        margin: 50px 0;
      }
    }

    &Logo {

      img {
        max-height: 100px;
        width: auto;
        @include breakpoint( $tablet ) {
          max-width: 390px;
        }
      }
    }

    &Link {
      display: flex;
      align-items: center;
      gap: 20px;

      span {
        position: relative;
        display: block;
        width: 53px;
        height: 32px;
        color: var(--color-primary);

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 2px;
          translate: 0 -50%;
          height: 2px;
          background: currentColor;
          transition: left .3s;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          right: 0;
          translate: 0 -50%;
          width: 16px;
          height: 32px;
          mask: var(--icon-angle) no-repeat center;
          mask-size: contain;
          background: currentColor;
        }
      }

      @media (hover: hover) {
        &:hover {
          text-decoration: none;

          span:before {
            left: calc( 100% - 2px );
          }
        }
      }
    }
  }
}