.boardBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 43px 42px;
  @include breakpoint( $tablet ) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 52px 42px;
  }
  @include breakpoint( $laptop ) {
    gap: 25px 30px;
  }
}


.boardMemberTeaser {
  text-align: center;
  width: 100%;
  max-width: 322px;
  @include breakpoint( $tablet ) {
    max-width: 293px;
  }
  @include breakpoint( $laptop ) {
    max-width: 273px;
  }

  &__imageContainer {
    position: relative;
    margin-bottom: 25px;
    background: var(--color-grey-3);
    border-radius: 100%;
    @include breakpoint( $laptop ) {
      margin-bottom: 42px;
    }

    img {
      border-radius: 100%;
    }
  }

  &__name {
    text-transform: uppercase;
    font-weight: 700;
    max-width: 305px;
    margin: 0 auto 8px;
    @include breakpoint( $tablet ) {
      margin-bottom: 15px;
    }
    @include breakpoint( $laptop ) {
      margin-bottom: 7px;
    }
  }

  &__title {
    margin-bottom: 8px;
    @include breakpoint( $tablet ) {
      margin-bottom: 15px;
    }
  }

  &__button {
    display: block;
    width: 63px;
    height: 63px;
    border-radius: 100%;
    background: var(--color-primary);
    color: #ffffff;
    position: absolute;
    right: 20px;
    bottom: 12px;
    transition: background .3s;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 48%;
      left: 50%;
      translate: -50% -50%;
      width: 24px;
      height: 24px;
      background: currentColor;
      mask: var(--icon-linkedin) no-repeat center;
      mask-size: contain;
      transition: left .3s;
    }

    @media (hover: hover) {
      &:hover {
        background: #0171AB;
      }
    }
  }
}