.page-template-buy-local {

  .involvedSection {

    ul {
      @include breakpoint($laptop) {
        max-width: 620px;
      }
    }
  }

  .logos {
    align-items: flex-start;

    &__item {
      @include breakpoint($laptop) {
        width: calc( (100% - 30px*4)/5);
      }
    }
  }
}