.benefits {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 24px 36px;
  margin: 0 calc( var(--container-padding-x) / -2 );
  @include breakpoint($tablet) {
    margin: 0;
  }

  &__card {
    position: relative;
    width: 100%;
    @include breakpoint($desktop) {
      width: auto;
      flex: 1;
    }

    &ImageBlock {
      position: absolute;
      inset: 0;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &ContentBlock {
      position: relative;
      height: 100%;
      color: #ffffff;
      padding: 32px 16px;
      @include breakpoint($tablet) {
        padding: 65px 65px 80px;
      }
    }

    &Icon {
      width: 46px;
      height: 46px;
      object-fit: contain;
      margin-bottom: 24px;
      @include breakpoint($tablet) {
        margin-bottom: 36px;
      }
    }

    &Title {
      margin-bottom: 22px;
    }
  }
}


.eventsSlider {
  margin: 0 calc( var(--container-padding-x) / -2 );
  @include breakpoint($tablet) {
    margin: 0;
  }
  @include breakpoint($laptop) {
    margin: 0;
  }
}


.eventSlide {
  position: relative;
  background: var(--color-grey-3);
  @include breakpoint($tablet) {
    display: flex;
    align-items: stretch;
  }

  &__imageCol {
    @include breakpoint($tablet) {
      position: relative;
      width: 36%;
      display: flex;
      align-items: flex-start;
    }

    img {
      @include breakpoint($tablet) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__textCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 31px calc( var(--container-padding-x) / 2 );
    background: var(--color-grey-3);
    @include breakpoint($tablet) {
      padding: 53px var(--grid-column-width);
      width: 64%;
    }
    @include breakpoint($laptop) {
      padding: 70px 70px;
    }
  }

  &__title {
    margin-bottom: 12px;
  }

  &__date {
    position: relative;
    margin-bottom: 38px;
    padding-left: 40px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      mask: var(--icon-calendar) no-repeat center;
      mask-size: contain;
      background: var(--color-purple);
    }
  }

  &__link {
    display: block;
    position: absolute;
    inset: 0;
  }
}


.eventContent {
  display: flex;
  flex-direction: column;
  gap: 30px var(--grid-column-width);
  @include breakpoint( $tablet ) {
    flex-direction: row;
  }

  &__col1 {
    @include breakpoint( $tablet ) {
      width: 35%;
    }
  }

  &__col2 {
    @include breakpoint( $tablet ) {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }

  &__linkedinLink {
    display: block;
    width: 30px;
    height: 30px;
    background: var(--color-primary);
    mask: var(--icon-linkedin) no-repeat center;
    mask-size: contain;
  }
}