.page-template-our-mission {

  .siteContent {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 180px;
      left: -105px;
      width: 220px;
      height: 220px;
      background: url("../images/circles.svg") no-repeat center center;
      background-size: contain;
      @include breakpoint( $tablet ) {
        bottom: 330px;
        left: -213px;
        width: 422px;
        height: 422px;
      }
      @include breakpoint( $laptop ) {
        width: 822px;
        height: 822px;
        left: -450px;
      }
    }
  }

  .iconCard {

    &__icon {
      background-color: var(--color-primary);
    }
  }
}