.imageBlock {
  display: block;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
  }

  &--formatted,
  &--landscape,
  &--portrait,
  &--square {

    &:before {
      content: '';
      display: block;
      padding-bottom: var(--padding-bottom);
    }

    img, video, iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: scale .3s;
    }
  }

  &--parallax {
    overflow: hidden;

    img {
      scale: 1.2;
      translate: 0 10%;
    }
  }

  &--formatted {
    min-height: 360px;
    @include breakpoint( $tablet ) {
      min-height: 590px;
    }
    @include breakpoint( $laptop ) {
      min-height: 750px;
    }
  }

  &--landscape {
    --padding-bottom: 56%;
  }

  &--portrait {
    --padding-bottom: 125%;
  }

  &--square {
    --padding-bottom: 100%;
  }
}


.number {
  margin-bottom: 22px;
  @include breakpoint($tablet) {
    margin-bottom: 42px;
  }
  @include breakpoint( $desktop ) {
    margin-bottom: 50px;
  }

  &__counter {
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: 700;
    margin-bottom: 13px;
    @include breakpoint($tablet) {
      font-size: 3.4375rem;
      margin-bottom: 24px;
    }
    @include breakpoint( $desktop ) {
      font-size: 3.75rem;
      margin-bottom: 50px;
    }

    .digit {
      text-align: center;
    }

    &--center {

      .digit {
        text-align: center;
      }
    }
  }

  &__description {
    text-transform: uppercase;
  }
}


.languages {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 10px;
  @include breakpoint($tablet) {
    justify-content: flex-end;
    margin: -30px 0 30px;
  }
  @include breakpoint($laptop) {
    margin: 0 calc( var(--container-padding-x) / -2 ) 10px;
  }

  &__divider {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: var(--color-primary);
  }
}