.imageBlock {
  display: block;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
  }

  &--formatted,
  &--landscape,
  &--portrait,
  &--square {

    &:before {
      content: '';
      display: block;
      padding-bottom: var(--padding-bottom);
    }

    img, video, iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--parallax {
    overflow: hidden;

    img {
      scale: 1.2;
      translate: 0 10%;
    }
  }

  &--formatted {
    --padding-bottom: 122%;
  }

  &--landscape {
    --padding-bottom: 56%;
  }

  &--portrait {
    --padding-bottom: 125%;
  }

  &--square {
    --padding-bottom: 100%;
  }
}