.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-decoration: none;
  min-height: 46px;
  padding: 5px 22px;
  text-transform: uppercase;
  background: var(--color-primary);
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: background-color .3s, border-color .3s, color .3s, outline-color .3s;
  @include breakpoint($tablet) {
    min-height: 48px;
  }

  &:hover {
    @media (hover: hover) {
      background: var(--color-purple);
      text-decoration: none;
    }
  }

  &:focus {
    outline-color: currentColor;
  }

  &:active {
    outline: none;
  }

  &--fullWidth {
    width: 100%;
  }
}


.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 18px 26px;
}