body {
  min-width: 360px;
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.siteContent {
  flex: 1;
  margin: 0 auto;
  width: 100%;
  //max-width: 1932px;
  padding-bottom: 213px;
  @include breakpoint( $tablet ) {
    padding-bottom: 286px;
  }
  @include breakpoint( $desktop ) {
    padding-bottom: 305px;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 var(--container-padding-x);
  width: 100%;

  &--fullWidth {
    max-width: none;
  }

  &--wide {
    max-width: 1620px;
  }

  &--middle {
    max-width: 1290px;
  }

  &--narrow {
    @include breakpoint( $tablet ) {
      max-width: 560px;
    }
    @include breakpoint( $laptop ) {
      max-width: 970px;
    }
  }
}