.siteHeader {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 3000;
  transition: background-color .3s;

  &__inner {
    position: relative;
    height: var(--header-height);
    margin: 0 calc( var(--container-padding-x)/-2 );
  }

  &__logoContainer {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__logoImage {
    width: 150px;
    @include breakpoint( $laptop ) {
      width: 236px;
    }
  }

  &__socials {
    display: flex;
    gap: 7px;
    position: absolute;
    top: 50%;
    right: 46px;
    transform: translateY(-50%);
  }

  &--sticky {

  }
}


.btnMenu {
  position: absolute;
  top: 50%;
  right: -7px;
  padding: 0;
  transform: translateY(-50%);
  z-index: 1000;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  @include breakpoint( $laptop ) {
    display: none;
  }

  &__hamburger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;

    span {
      display: block;
      background: var(--color-purple);
      width: 26px;
      height: 3px;
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      transition: all .3s;

      &:nth-child(1) {
        margin-top: -9px;
      }
      &:nth-child(3) {
        margin-top: 9px;
      }
    }
  }

  &.close {

    .btnMenu__hamburger {

      span {
        background: #ffffff;

        &:nth-child(1) {
          margin-top: 0;
          rotate: -45deg;
        }

        &:nth-child(2) {
          background: transparent;
        }

        &:nth-child(3) {
          margin-top: 0;
          rotate: 45deg;
        }
      }
    }
  }

  &--sticky {

    span {

    }
  }
}