.siteHeader {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 3000;
  transition: background-color .3s, box-shadow .3s;
  @include breakpoint( $laptop ) {
    position: relative;
  }

  &__container {
    max-width: none;
  }

  &__inner {
    position: relative;
    height: var(--header-height);
    margin: 0 calc( var(--container-padding-x)/-2 );
    @include breakpoint( $tablet ) {
      margin: 0;
    }
  }

  &__logoContainer {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__logoImage {
    width: 150px;
    @include breakpoint( $tablet ) {
      width: 190px;
    }
    @include breakpoint( $lg ) {
      width: 235px;
    }
  }

  &__socials {
    display: flex;
    gap: 7px;
    position: absolute;
    top: 50%;
    right: 46px;
    transform: translateY(-50%);
    @include breakpoint( $tablet ) {
      right: 70px;
      gap: 10px;
    }
    @include breakpoint( $laptop ) {
      right: 0;
      top: 50px;
    }

    .social {
      @include breakpoint($tablet) {
        width: 26px;
        height: 26px;
      }

      &:before {
        @include breakpoint($tablet) {
          width: 16px;
          height: 16px;
        }
      }

      &--linkedin:before {
        @include breakpoint($tablet) {
          height: 14px;
        }
      }
    }
  }

  &--sticky {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    @include breakpoint( $laptop ) {
      box-shadow: none;
    }
  }

  &--navVisible {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  }
}


.btnMenu {
  position: absolute;
  top: 50%;
  right: -7px;
  padding: 0;
  transform: translateY(-50%);
  z-index: 1000;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  @include breakpoint( $laptop ) {
    display: none;
  }

  &__hamburger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;

    span {
      display: block;
      background: var(--color-purple);
      width: 26px;
      height: 3px;
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      transition: all .3s;

      &:nth-child(1) {
        margin-top: -9px;
      }
      &:nth-child(3) {
        margin-top: 9px;
      }
    }
  }

  &.close {

    .btnMenu__hamburger {

      span {

        &:nth-child(1) {
          margin-top: 0;
          rotate: -45deg;
        }

        &:nth-child(2) {
          background: transparent;
        }

        &:nth-child(3) {
          margin-top: 0;
          rotate: 45deg;
        }
      }
    }
  }

  &--sticky {

    span {

    }
  }
}