.siteNav {
  visibility: hidden;
  opacity: 0;
  padding: 0;
  background: #ffffff;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  overflow: auto;
  transition: visibility .3s, opacity .3s;
  //background: url("../images/layouts/768/nav.jpg") no-repeat center top;
  //background-size: auto;
  @include breakpoint( $tablet ) {
    width: 626px;
  }
  @include breakpoint( $laptop ) {
    position: absolute;
    overflow: visible;
    visibility: visible;
    opacity: 1;
    height: 0;
    padding: 0;
    top: calc( var(--header-height) / 2 );
    width: 100%;
    z-index: 4000;
  }

  &__container {
    padding: 0;
    max-width: none;
    @include breakpoint( $laptop ) {
      padding: 0 var(--container-padding-x);
    }
  }

  &__inner {
    position: relative;
  }

  &__inner2 {
    padding: 110px 0 0;
    @include breakpoint( $tablet ) {
      padding: 160px 0 0;
    }
    @include breakpoint( $laptop ) {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      left: 300px;
      right: 0;
      display: flex;
      justify-content: flex-end;
      padding: 0;
    }
  }

  &--visible {
    visibility: visible;
    opacity: 1;
  }
}


.primaryMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include breakpoint( $md ) {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  @include breakpoint( $laptop ) {
    position: absolute;
    top: -26px;
    right: 0;
    gap: min(63px, 3.15vw);
  }

  >li {
    position: relative;
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--color-grey-light);
    width: 100%;
    @include breakpoint( $laptop ) {
      border: none;
    }

    >.menu-item-link-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      padding: 0 var(--container-padding-x);
      @include breakpoint( $laptop ) {
        padding: 0;
        width: 100%;
      }

      >a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        text-decoration: none;
        min-height: 62px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.2;
        @include breakpoint( $laptop ) {
          min-height: 110px;
        }

        &:hover {
          @media (hover: hover) {

          }
        }
      }

      >.menu-item-button {
        width: 16px;
        height: 16px;
        mask: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6 0.849976L8.3 8.14998L1 0.849976' stroke='%23231F20' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E%0A") no-repeat center;
        mask-size: contain;
        background: currentColor;
        transition: rotate .3s;
      }
    }

    >.sub-menu {
      display: none;
      width: 100%;
      background: #ffffff;
      @include breakpoint( $md ) {
        display: block;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 100%;
        transition: visibility .3s, opacity .3s;
      }
      @include breakpoint( $laptop ) {
        width: 275px;
        left: 50%;
        translate: -50% 0;
      }

      >ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        border-bottom: 5px solid var(--color-green);
        display: flex;
        flex-direction: column;
        gap: 1px;

        >li {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          background: var(--color-grey-3);

          >.menu-item-link-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            cursor: pointer;
            padding: 0 var(--container-padding-x);
            @include breakpoint( $laptop ) {
              padding: 0 15px;
            }

            >a {
              min-height: 62px;
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: none;
              text-transform: uppercase;
              font-weight: 600;
              text-align: center;
              line-height: 1.2;
              padding: 20px 0;
            }

            >.menu-item-button {
              width: 16px;
              height: 16px;
              mask: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6 0.849976L8.3 8.14998L1 0.849976' stroke='%23231F20' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E%0A") no-repeat center;
              mask-size: contain;
              background: currentColor;
              transition: rotate .3s;
              @include breakpoint( $laptop ) {
                rotate: -90deg;
              }
            }
          }

          >.sub-menu {
            display: none;
            width: 100%;
            background: #EEEEEE;
            @include breakpoint( $md ) {
              display: block;
              visibility: hidden;
              opacity: 0;
              position: absolute;
              left: 100%;
              top: 0;
              transition: visibility .3s, opacity .3s;
            }

            >ul {
              list-style-type: none;
              padding: 0;
              margin: 0;
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 1px;

              >li {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                background: #F9F9F9;

                >.menu-item-link-wrapper {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 12px;
                  cursor: pointer;
                  padding: 0 var(--container-padding-x);

                  >a {
                    min-height: 62px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 600;
                    text-align: center;
                    line-height: 1.2;
                  }
                }
              }
            }
          }

          &.menu-item-has-children:hover {
            @media (hover: hover) {

              >.menu-item-link-wrapper {

                >.menu-item-button {
                  rotate: -270deg;
                }
              }

              >.sub-menu {
                @include breakpoint( $laptop ) {
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    &.current-menu-ancestor {

      >.sub-menu {
        display: block;
      }
    }

    &.current-menu-item {

      >.menu-item-link-wrapper {

        >a {
          text-decoration: underline;
        }
      }
    }

    &.menu-item-has-children:hover {
      @media (hover: hover) {

        >.menu-item-link-wrapper {
          >.menu-item-button {
            rotate: -180deg;
          }
        }

        >.sub-menu {
          @include breakpoint( $laptop ) {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    &:last-child {

      >.sub-menu {
        @include breakpoint( $laptop ) {
          left: auto;
          right: calc(var(--container-padding-x) * -1);
          translate: none;
        }
      }
    }

    &:nth-child(4n+1) >.sub-menu >ul { border-bottom-color: var(--color-green); }
    &:nth-child(4n+2) >.sub-menu >ul { border-bottom-color: var(--color-purple); }
    &:nth-child(4n+3) >.sub-menu >ul { border-bottom-color: var(--color-orange); }
    &:nth-child(4n+4) >.sub-menu >ul { border-bottom-color: var(--color-primary); }
  }

  li.open {

    >.menu-item-link-wrapper {

      >.menu-item-button {
        rotate: 180deg;
      }
    }
  }
}


.secondaryMenu {
  list-style-type: none;
  padding: 0;
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
  gap: 1px;
  @include breakpoint( $tablet ) {
    margin-bottom: 46px;
  }
  @include breakpoint( $laptop ) {
    margin: 0;
    position: absolute;
    top: -50px;
    right: 167px;
  }

  >.menu-item {
    position: relative;
    padding: 0 8px;
    @include breakpoint( $tablet ) {
      padding: 0 30px;
    }

    &:after {
      content: '';
      width: 1px;
      height: 20px;
      background: var(--color-grey-2);
      position: absolute;
      right: -1px;
      top: 50%;
      translate: 0 -50%;
    }

    &:first-child:after {
      display: none;
      @include breakpoint( $laptop ) {
        display: block;
      }
    }

    >.menu-item-link-wrapper {

      >a {
        text-decoration: none;
        min-height: 28px;
        display: flex;
        align-items: center;
        white-space: nowrap;
      }
    }
  }
}


.navOverlay {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #ffffff;
  z-index: 1000;
  transition: visibility .3s, opacity .3s;
  @include breakpoint( $tablet ) {
    background: rgba(0,0,0,.7);
  }

  &--visible {
    opacity: 1;
    visibility: visible;
  }
}