.carousel {
  margin: 0 calc( var(--container-padding-x) / -2 );
  @include breakpoint( $tablet ) {
    margin: 0 175px 0 0;
  }
  @include breakpoint( $laptop ) {
    margin: 0 310px 0 0;
  }

  &__slides {
    display: flex;
    align-items: stretch;
  }

  &__slide {
    height: 100%;
  }

  .tns-item {
    opacity: 0;
    visibility: hidden;
    transition: visibility .3s, opacity .3s;

    &.tns-slide-active {
      opacity: 1;
      visibility: visible;

      + .tns-item {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .tns-ovh {
    overflow: visible;
  }

  .tns-controls {
    margin-top: 38px;
    display: flex;
    justify-content: flex-end;
    gap: 34px;
    @include breakpoint( $tablet ) {
      margin-right: calc( -34px - 46px );
      margin-top: 43px;
    }
    @include breakpoint( $laptop ) {
      margin-top: 52px;
      margin-right: calc( -34px * 2 - 46px * 2 );
    }
  }
}


.section:has(.carousel) {
  overflow: hidden;
  @include breakpoint( $tablet ) {
    margin-top: -30px;
  }
}