.textImageBlock {

  &__cols {
    display: flex;
    flex-wrap: wrap;
    gap: 36px 0;
  }

  &__textCol {
    width: 100%;
    @include breakpoint( $tablet ) {
      width: calc( 50% + var(--container-padding-x) );
      display: flex;
      align-items: center;
      padding: 0 var(--container-padding-x);
    }
    @include breakpoint( $laptop ) {
      width: 50%;
    }
  }

  &__imageCol {
    width: 100%;
    @include breakpoint( $tablet ) {
      width: calc( 50% - var(--container-padding-x) );
    }
    @include breakpoint( $laptop ) {
      width: 50%;
    }

    &:after {
      content: '';
      display: block;
      width: 134px;
      height: 134px;
      opacity: .85;
      background: var(--color-green);
      position: absolute;
      border-radius: 100%;
      top: 56px;
      @include breakpoint( $tablet ) {
        width: 141px;
        height: 141px;
        top: 50px;
      }
      @include breakpoint( $laptop ) {
        width: 250px;
        height: 250px;
        top: 60px;
      }
    }
  }

  &__textWrapper {
    max-width: 580px;
    margin: 0 auto;
  }

  &__text2 {
    margin-top: 30px;
    @include breakpoint($tablet) {
      margin: 65px auto 0;
      width: 70%;
    }
    @include breakpoint( $laptop ) {
      width: auto;
      margin: 36px 0 0;
    }
  }

  &--1 & {

    &__cols {
      @include breakpoint( $tablet ) {
        flex-direction: row-reverse;
      }
    }

    &__imageCol {
      position: relative;
      padding-right: calc( var(--grid-column-width) * 2 );
      @include breakpoint( $laptop ) {
        padding-right: 125px;
      }

      .imageBlock {
        @include breakpoint( $tablet ) {
          margin-left: calc( var(--container-padding-x) * -1 );
        }
        @include breakpoint($laptop) {
          margin-left: calc( var(--container-padding-x) * -.5 );
        }
      }

      &:after {
        right: calc( var(--grid-column-width) * -1 );
        @include breakpoint( $tablet ) {
          right: 0;
        }
      }
    }
  }

  &--2 & {

    &__imageCol {
      position: relative;
      padding-right: calc(var(--grid-column-width) * 2);
      @include breakpoint($tablet) {
        padding-right: 0;
        padding-left: calc(var(--grid-column-width) * 2);
      }
      @include breakpoint($laptop) {
        padding-left: 125px;
        //margin-right: calc(var(--grid-gap) * -1);
      }

      .imageBlock {
        @include breakpoint( $tablet ) {
          margin-right: calc( var(--container-padding-x) * -1 );
        }
        @include breakpoint($laptop) {
          margin-right: calc( var(--container-padding-x) * -.5 );
        }
      }

      &:after {
        right: calc(var(--grid-column-width) * -1);
        @include breakpoint($tablet) {
          right: auto;
          left: 0;
        }
        @include breakpoint($laptop) {
          top: auto;
          bottom: 60px;
        }
      }
    }
  }
}