.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 0;
  @include breakpoint($laptop) {
    gap: 10px 30px;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    //filter: grayscale(100%);
    transition: filter .3s;
    @include breakpoint($tablet) {
      width: 50%;
      max-width: 350px;
    }
    @include breakpoint($laptop) {
      width: 23%;
    }

    &:hover {
      @media (hover:hover) {
        filter: grayscale(0);
      }
    }
  }
}


.logos2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 66px 0;
  margin: 60px 0;
  @include breakpoint($tablet) {
    gap: 66px 70px;
  }
  @include breakpoint($laptop) {
    gap: 10px 0;
    margin: 80px -20px;
  }

  &__item {
    width: 100%;
    max-width: 220px;
    display: flex;
    justify-content: center;
    //filter: grayscale(100%);
    transition: filter .3s;
    @include breakpoint($tablet) {
      width: calc( calc( 100% - 70px ) / 2);
      max-width: 250px;
    }
    @include breakpoint($laptop) {
      width: 25%;
      padding: 0 40px;
      max-width: none;
    }

    &:hover {
      @media (hover:hover) {
        filter: grayscale(0);
      }
    }

    img {
      object-fit: contain;
    }
  }
}
