.newsletterBlock {
  position: relative;
  border-radius: 100%;
  text-align: center;
  overflow: hidden;
  margin: -196px auto 0;
  left: 50%;
  translate: -50% 0;
  width: 360px;
  @include breakpoint( $tablet ) {
    margin: -262px auto 0;
    width: 488px;
    left: auto;
    translate: none;
  }
  @include breakpoint( $laptop ) {
    position: absolute;
    margin: 0;
    max-width: none;
    right: var(--container-padding-x);
    top: -266px;
  }
  @include breakpoint( $desktop ) {
    width: 500px;
    top: -270px;
  }

  &:before {
    content: '';
    display: block;
    background: var(--color-orange);
    opacity: .85;
    padding-bottom: 100%;
  }

  &__inner {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    padding: 22px;
    border-radius: 100%;
    @include breakpoint( $tablet ) {
      padding: 82px 60px 60px;
    }
    @include breakpoint( $desktop ) {
      padding: 82px 50px 68px;
    }
  }

  &__title {
    margin: 0;
    padding: 0 30px;
    @include breakpoint( $laptop ) {
      padding: 0;
    }
  }

  &__form {
    display: flex;
    gap: 20px;
    border: none;
    border-bottom: 2px solid #ffffff;
    background: transparent;
    width: 100%;
    margin: 30px 0 15px;
    @include breakpoint( $tablet ) {
      margin: 45px 0 70px;
    }
    @include breakpoint( $desktop ) {
      margin: 50px 0 75px;
    }

    &Field {
      position: relative;
      flex: 1;

      @include placeholder {
        color: #ffffff;
      }

      &Input[type="email"] {
        background: transparent;
        border: none;
        color: #ffffff;
        height: 70px;
        padding: 0;
        @include breakpoint( $tablet ) {
          height: 62px;
        }
      }

      span.error {
        position: absolute;
        top: 100%;
        left: 0;
        font-size: 14px;
        @include breakpoint( $tablet ) {
          font-size: 16px;
        }
      }
    }

    &Button {
      position: relative;
      width: 50px;
      color: #ffffff;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 2px;
        translate: 0 -50%;
        height: 2px;
        background: currentColor;
        transition: left .3s;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        translate: 0 -50%;
        width: 15px;
        height: 30px;
        mask: var(--icon-angle) no-repeat center;
        mask-size: contain;
        background: currentColor;
      }

      &:hover:before {
        @media (hover: hover) {
          left: calc( 100% - 2px );
        }
      }
    }
  }

  &__text {
    padding: 0 10px 25px;
    margin: 0 auto;
    @include breakpoint( $tablet ) {
      padding: 0;
      max-width: 300px;
    }
  }
}