.testimonialsSlider {
  margin: 0 calc( var(--container-padding-x) / -2 );
  @include breakpoint($tablet) {
    margin: 0;
  }

  &__slides {
    display: flex;
    align-items: stretch;
  }

  &__slide {
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: var(--color-grey-3) url('../images/quotes.svg') no-repeat -5px -34px;
    background-size: 284px auto;
    height: 100%;
    @include breakpoint($tablet) {
      background-size: 292px auto;
    }
    @include breakpoint($tablet) {
      padding: 94px 36px 58px;
      gap: 70px 36px;
    }
    @include breakpoint($laptop) {
      flex-direction: row;
      padding: 96px 10%;
    }
    @include breakpoint($desktop) {
      padding: 142px 10%;
    }
  }

  &__highlightText {
    font-style: italic;
    @include breakpoint($laptop) {
      width: 35%;
    }
  }

  &__testimonial {
    display: flex;
    flex-direction: column;
    gap: 42px;
    @include breakpoint($laptop) {
      flex: 1;
    }
  }

  .tns-nav {
    margin-top: 22px;
    @include breakpoint($tablet) {
      margin-top: 32px;
    }
    @include breakpoint($laptop) {
      margin-top: 44px;
    }
  }
}