@import 'abstracts/sizes';
@import 'abstracts/colors';
@import 'abstracts/icons';
@import 'abstracts/grid';
@import 'abstracts/mixins';
@import 'abstracts/fonts';

@import 'base/reset';
@import 'base/wpcore';
@import 'base/typography';
@import 'base/base';

@import 'components/blocks';
@import 'components/forms';
@import 'components/buttons';
@import 'components/links';
@import 'components/tables';

@import 'layout/containers';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/nav';
@import 'layout/hero';
@import 'layout/sections';

@import 'blocks/socials';
@import 'blocks/text';
@import 'blocks/image-text';
@import 'blocks/logos';
@import 'blocks/logos-carousel';
@import 'blocks/newsletter';
@import 'blocks/accordion';
@import 'blocks/timeline';
@import 'blocks/carousel';
@import 'blocks/cta';
@import 'blocks/icon-cards';
@import 'blocks/testimonials-slider';
@import 'blocks/loader';

@import 'templates/404';
@import 'templates/home';
@import 'templates/achievements';
@import 'templates/affinity-programs';
@import 'templates/policy-position';
@import 'templates/pillar-partners';
@import 'templates/buy-local';
@import 'templates/hire-local';
@import 'templates/events';
@import 'templates/team';
@import 'templates/gallery';
@import 'templates/our-story';
@import 'templates/board-of-directors';
@import 'templates/committees';
@import 'templates/advertising';
@import 'templates/news';
@import 'templates/newsletter';
@import 'templates/podcast';
@import 'templates/contact';
@import 'templates/our-mission';

@import 'vendors/jquery-ui';
@import 'vendors/fancybox';
@import 'vendors/select2';
@import 'vendors/tiny-slider';

@import 'wp-plugins/contact-form-7';

@import "../../../node_modules/tiny-slider/src/tiny-slider";