:root {
  --color-primary: #0085CA;
  --color-secondary: #FF8200;
  --color-green: #78BE20;
  --color-orange: #FF8200;
  --color-purple: #8031A7;
  --color-grey-1: #575757;
  --color-grey-2: #9C9C9C;
  --color-grey-3: #EEEEEE;
  --color-grey-4: #F9F9F9;
  --color-grey-5: #E0E0E0;
  --text-color: #2B2B2B;
}