:root {
  --color-primary: #0085CA;
  --color-secondary: #FF8200;
  --color-green: #78BE20;
  --color-orange: #FF8200;
  --color-purple: #8031A7;
  --color-grey-dark: #575757;
  --color-grey-light: #EEEEEE;
  --color-grey: #9C9C9C;
  --text-color: var(--color-secondary);
}